.prilipdytas {position: absolute;
background:#292725;
margin-top:-25px;
  padding-top:15px;
width:220px;} 
.dark-mode .prilipdytas {background:#f5f5f5;}
#characters-container{margin-top:250px;}

.styled-line {
      width: 100%;
      height: 2px;
      background-color: #333;
   margin-bottom:5px;
    }
.additional-content {font-size:7px;}
.dark-mode .styled-line {background-color:#dccdcc;}

/* Tooltip styles */
.dark-mode .node-tooltip, .dark-mode .tooltip-header {color: #6E6761 !important;}
.node-tooltip {
  max-width:600px !important;
  text-align:justify;
    position: absolute;
    padding: 10px;
  font-family: 'Lemon/Milk light', sans-serif;
  color: #6E6761;
  background: #292725;
    border-radius: 5px;
    pointer-events: none;
    font-size: 12px;
    z-index: 100;
    transition: opacity 0.2s;
    opacity: 0;
  letter-spacing:1px;
}
additionalinfo {font-size:8px;margin-top:5px;}
.tooltip-header { 
    text-align:left !important;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 8px;
    color: #fff;
  letter-spacing:1px;
   background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.tooltip-row {
font-size:8px;
  float:left;
  padding-right:5px;
  margin-top:-6px;
}
.tooltip-row strong {color:#a2988e;}

/* Node info panel styles */
.node-info-panel {
    position: fixed;
    top: 20px;
    right: -300px;
    width: 280px;
    padding: 15px;
    border-radius: 7px;
    z-index: 100;
    transition: all 0.3s ease;
    opacity: 0;

}

.info-header {
    font-weight: bold;
    font-size: 10px;
  letter-spacing:1px;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}

.info-image-container {
    text-align: center;
    margin-bottom: 15px;
}

.info-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}


.info-row {
    margin: 8px 0;
    line-height: 1.4;
}

/* Dark mode styles */
.dark-mode .node-tooltip,
.dark-mode .node-info-panel {
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.dark-mode .tooltip-header,
.dark-mode .info-header {
    color: #333;
}

.dark-mode .info-image {
    border-color: #333;
}

/* Add these styles to your existing CSS */
.dark-mode .node.highlighted .node-circle, .dark-mode .node-circle, .dark-mode .node.selected .node-circle {stroke: #f5f5f5 !important;}

.node-circle {
      stroke: #292725;
    stroke-width: 8px !important;
    fill: none;
    transition: stroke 0s ease, stroke-width 0s ease;
}

.node.highlighted .node-circle {
    stroke-width: 4px !important;
}

.node.selected .node-circle {
    stroke-width: 4px !important;
}



/* FRIENDS */
.dark-mode .relationship-1 {
    stroke: #a9a0aa;  /* Brightened for friendship */
}
/* COLLEAGUES */
.relationship-8 {
    stroke: #80938e;
}

.dark-mode .relationship-8 {
    stroke: #52a791;
}
/* FRENEMIES */
.dark-mode .relationship-4 {
    stroke: #a792cd;  /* Brightened for frenemies */
}

/* FRIENDS WITH BENEFITS */
.dark-mode .relationship-5 {
    stroke: #ed99b9;  /* Brightened for friends with benefits */
}

/* FAMILY */
.dark-mode .relationship-2 {
    stroke: #6ba06c;  /* Brightened for family */
}

/* ROMANTIC PARTNERS */
.dark-mode .relationship-3 {
    stroke: #c75858;  /* Brightened for romantic partners */
    filter: drop-shadow(0 0 7px #ff8a8a);
}

/* IT'S COMPLICATED */
.dark-mode .relationship-0 {
    stroke: #b99f95;  /* Brightened for it's complicated */
}

/* ONS */
.dark-mode .relationship-6 {
    stroke: grey;  /* White for ONS */
    stroke-dasharray: 3, 8;
    stroke-dashoffset: 0;
}
.dark-mode .node-circle {
    stroke: #f5f5f5;
}
.onsline {
  color:white;
position: absolute;
margin-left:10px;}
.dark-mode .onsline {
  color:grey;}

.dark-mode {background: white;}
.dark-mode .legend, .dark-mode .search-results, .dark-mode .dark-mode-toggle {background:#f5f5f5; color:grey;}
.dark-mode-toggle {
    position: fixed;
    bottom: 35px;
    left: 268px;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    z-index: 999;
    font-family: 'archivo', sans-serif;
    font-size: 20px;
    color: #6E6761;
    text-align: center;
    width: 15px; /* Increased width for better appearance */
    height: 15px;
  background-color: rgba(82, 76, 70, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-mode-toggle:hover {
    color: #aba19e; 
}



body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  background-color: #21211F;
    
}

svg {
    width: 100vw;
    height: 100vh;
    display: block;
}

.links line {
    stroke-opacity: 1;
    stroke-width: 6px;
    transition: all 0.3s;
}
/*FRIENDS*/
.relationship-1 {
    stroke: #7d697e;  /* Green for friendship */
}
/*FRENEMIES*/
.relationship-4 {
    stroke: #786fad;
}

/*FRIENDS WITH BENEFITS*/
.relationship-5 {
    stroke: #c57090;
}

/*FAMILY*/
.relationship-2 {
    stroke: #4b6052;  /* Blue for family */
}
/*ROMANTIC PARTNERS*/
.relationship-3 {
    stroke: #934343;  /* Pink for romantic */
    filter: drop-shadow(0 0 7px #ff8a8a);
}
/*IT'S COMPLICATED*/
.relationship-0 {
    stroke: #91796e; 
}
/*ONS*/
.relationship-6 {
    stroke: white;  /* Green for friendship */
  stroke-dasharray: 3, 8; /* Length of dashes and gaps */
    stroke-dashoffset: 0; /* Offset if needed */
}

/*ENEMIES*/
.relationship-7 {
    stroke: #00858b;  /* Pink for romantic */
}
.node-image:hover {    cursor: pointer;}
.node-image {
    object-fit: cover;
    width: 160px;
    height: 160px;
}

.node-circle {
    fill: none;
    stroke: #292725;
    stroke-width: 10px;
    r: 80;
}
.dark-mode .node-label {filter:none;}
.node-label {
    font-family: 'Lemon/Milk light', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.5em !important;
    fill: #6E6761;
    opacity: 1.5;
    transition: opacity 0.3s;

    /* Remove stroke */
    stroke: none;

    /* Enhanced opaque drop shadows */
    filter: drop-shadow(0 0 1px #252321)
            drop-shadow(0 0 2px #252321)
            drop-shadow(0 0 3px #252321)
            drop-shadow(0 0 4px #252321);
}

 


.node.highlighted .node-label {
    opacity: 1;  /* Show labels for highlighted nodes */
}

.links line {
    transition: all 0.3s;
    stroke-opacity: 0.2;  /* Reduced default opacity */
}

.node-circle {
    transition: all 0.3s;
    opacity: 1;
}

.node image {
    transition: all 0.3s;
    opacity: 1;
}

.node.faded .node-circle,
.node.faded image {
    opacity: 0.2;
}

.links line.faded {
    stroke-opacity: 0.02;
}

.node.highlighted .node-circle {
    stroke-width: 3px;
}

.links line.highlighted {
    stroke-opacity: 1;
    stroke-width: 7px;
}

.node-label-background {
    fill: white;
    opacity: 0.95;
}

.node.highlighted .node-label-background {
    opacity: 0.9;
}

.node-label, .node-label-background {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.label-group.visible .node-label,
.label-group.visible .node-label-background {
    opacity: 1;
}



.search-input {
    font-size: 13px;
  width: 100%;
  text-overflow: ellipsis;
    border: 0px solid #ddd;
    border-radius: 6px;
    font-family: 'Lemon/Milk light', sans-serif;
  letter-spacing:1px;
    font-weight: 400;
background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
color:white;
}
.search-input::placeholder {
  color: white;
text-transform:lowercase;}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 0px solid #ddd;
    border-radius: 6px;
    margin-top: 4px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
color:white;
background:#292725;
}

.search-result-item {
    padding: 8px 12px;
    cursor: pointer;
   font-family: 'Lemon/Milk light', sans-serif;
  letter-spacing:1px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;  /* Display suggestions as uppercase */
}

.search-result-item:hover {
    background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
}

.legend {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 20px;
  max-width: 130px;
  font-family: 'Lemon/Milk light', sans-serif;
  font-size: 10px;
  letter-spacing: 0.5px;

  color: #6E6761;
  background: #292725;
  border-radius: 7px;
}


.legend-item {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.legend-color {
    width: 30px;
    height: 4px;
    margin-right: 10px;
    border-radius: 2px;
}

.links {
    pointer-events: none;
    z-index: 1;
}

.label-group {
    pointer-events: none;
    z-index: 3;
}

.node-label {
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 6px;
    border-radius: 4px;
}

.search-result-item.selected {
    background-color: #f0f0f0;
}

.credit {
  font-family: 'Lemon/Milk light', sans-serif;
  letter-spacing: 1px;
font-weight:bold;
  font-size: 11px;
  position: absolute;
  right: 0; /* <-- this aligns it to the right */
  padding-right: 10px; /* optional, for spacing */color:#6E6761;
}
.credit a {background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;}

 .container {
    display: flex;
    height: 100vh;
  
}

/* Character list styles */

.character-list {
  margin-top:-20px;
    width: 220px;
    overflow-y: auto;
    padding: 20px;
    background-color: #292725;
    color: #6E6761;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
font-size:11px;}
.character-name {
  max-width: 220px;
  max-height:80px;
  margin-bottom:5px;
}


body.dark-mode .character-list {
    background-color: #f5f5f5;
}

.character-list h2 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
    color: #f0f0f0;
    transition: color 0.3s ease, border-color 0.3s ease;
    font-family: 'Lemon/Milk light', sans-serif;
    letter-spacing: 1px;
background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

body.dark-mode .character-list h2 {
    color: #333;
    border-bottom-color: #e0e0e0;
}

.character-card {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    font-family: 'Montserrat', sans-serif;
  
}

.character-card:hover {
    background-color: #33312e;
    transform: translateX(5px);
}

body.dark-mode .character-card:hover {
    background-color: #f0f0f0;
}

.character-card.selected {
    background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
  color:white;
}
.character-card.selected .character-details {
    color: white;
}

body.dark-mode .character-card.selected .character-details {
    color: white;
}

body.dark-mode .character-card.selected {
    background-color: #353330;
}

.character-image {
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%;
    object-fit: cover !important;
    margin-right: 15px;
    border: 0px solid #555;
    transition: border-color 0.3s ease;
}

body.dark-mode .character-image {
    border-color: #ddd;
}

.character-info {
    flex: 1;
}

.character-name {
  max-width: 100%; /* Expand to full available width */
  white-space: normal; /* Allow text to wrap if needed */
  overflow: visible; /* Show full content */
  text-overflow: clip; /* Disable ellipsis */
}

.character-details {
    font-size: 0.8em;
    color: grey;
    display: flex;
    flex-wrap: wrap;
}

body.dark-mode .character-details {
    color: #666;
}

.character-race {
    margin-right: 8px;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 0.75em;
    text-transform: uppercase;
}

.search-container {
    margin-bottom: 15px;
  width: 100%;
    position: relative;
}

.search-input {
  font-size:13px;
    width: 100%;
  text-overflow: ellipsis;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: #f0f0f0;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .search-input {
    background-color: white;
    border-color: #ddd;
    color: #333;
}

.search-input:focus {
    outline: none;
    border-color: #666;
}

body.dark-mode .search-input:focus {
    border-color: #999;
}

.search-results {
    position: absolute;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 4px;
    z-index: 100;
    display: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

body.dark-mode .search-results {
    background-color: white;
    border-color: #ddd;
}

.search-result-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.search-result-item:hover, .search-result-item.selected {
    background-color: #444;
}

body.dark-mode .search-result-item:hover,
body.dark-mode .search-result-item.selected {
    background-color: #f0f0f0;
}

.race-filter {
    margin-bottom: 15px;
  background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.race-filter select {
    font-size:10px;
  width: 100%;
    padding: 5px;
    border: 1px solid #444;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.race-filter select {
    background-color: #333;
  color:white;
}
.dark-mode .race-filter select {
    background-color: #333;
  color:grey;
}


body.dark-mode .race-filter select {
    background-color: white;
    border-color: #ddd;
    background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* Visualization area styles */
.visualization-container {
    flex: 1;
    position: relative;
    overflow: hidden;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #333;
    border-radius: 4px;
}

body.dark-mode ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

body.dark-mode ::-webkit-scrollbar-thumb {
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

body.dark-mode ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

/* Clear search button styles */
.clear-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 0 5px;
    display: none; /* Hidden by default */
    z-index: 2;
}

.search-container:hover .clear-search,
.search-input:focus ~ .clear-search,
.search-input:not(:placeholder-shown) ~ .clear-search {
    display: block;
}

body.dark-mode .clear-search {
    color: #666;
}

body.dark-mode .clear-search:hover {
    color: #333;
}
.styled-line {
      width: 100%;
      height: 2px;
      background-color: #333;
   margin-bottom:5px;
    }
.additional-content {font-size:7px;}
.dark-mode .styled-line {background-color:#dccdcc;}


/* Node info panel styles */
.node-info-panel {
    position: fixed;
    top: 20px;
    right: -300px;
    width: 280px;
    padding: 15px;
    border-radius: 7px;
    z-index: 100;
    transition: all 0.3s ease;
    opacity: 0;

}

.info-header {
    font-weight: bold;
    font-size: 10px;
  letter-spacing:1px;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}

.info-image-container {
    text-align: center;
    margin-bottom: 15px;
}

.info-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}


.info-row {
    margin: 8px 0;
    line-height: 1.4;
}

/* Dark mode styles */
.dark-mode .node-tooltip,
.dark-mode .node-info-panel {
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.dark-mode .tooltip-header,
.dark-mode .info-header {
    color: #333;
}

.dark-mode .info-image {
    border-color: #333;
}

/* Add these styles to your existing CSS */
.dark-mode .node.highlighted .node-circle, .dark-mode .node-circle, .dark-mode .node.selected .node-circle {stroke: #f5f5f5 !important;}

.node-circle {
      stroke: #292725;
    stroke-width: 8px !important;
    fill: none;
    transition: stroke 0s ease, stroke-width 0s ease;
}

.node.highlighted .node-circle {
    stroke-width: 4px !important;
}

.node.selected .node-circle {
    stroke-width: 4px !important;
}
.styled-line {
      width: 100%;
      height: 2px;
      background-color: #333;
   margin-bottom:5px;
    }
.additional-content {font-size:7px;}
.dark-mode .styled-line {background-color:#dccdcc;}


/* Node info panel styles */
.node-info-panel {
    position: fixed;
    top: 20px;
    right: -300px;
    width: 280px;
    padding: 15px;
    border-radius: 7px;
    z-index: 100;
    transition: all 0.3s ease;
    opacity: 0;

}

.info-header {
    font-weight: bold;
    font-size: 10px;
  letter-spacing:1px;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}

.info-image-container {
    text-align: center;
    margin-bottom: 15px;
}

.info-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}


.info-row {
    margin: 8px 0;
    line-height: 1.4;
}

/* Dark mode styles */
.dark-mode .node-tooltip,
.dark-mode .node-info-panel {
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.dark-mode .tooltip-header,
.dark-mode .info-header {
    color: #333;
}

.dark-mode .info-image {
    border-color: #333;
}

/* Add these styles to your existing CSS */
.dark-mode .node.highlighted .node-circle, .dark-mode .node-circle, .dark-mode .node.selected .node-circle {stroke: #f5f5f5 !important;}

.node-circle {
      stroke: #292725;
    stroke-width: 8px !important;
    fill: none;
    transition: stroke 0s ease, stroke-width 0s ease;
}

.node.highlighted .node-circle {
    stroke-width: 4px !important;
}

.node.selected .node-circle {
    stroke-width: 4px !important;
}

.scroll-up-button, .scroll-down-button {
    position: fixed;
    left: 268px;
    padding-left: 10px;
  padding-right:10px;
  padding-top:3px;
  padding-bottom:3px;
    border-radius: 7px;
    cursor: pointer;
    z-index: 999;
    font-family: 'archivo', sans-serif;
    font-size: 12px;
    color: #6E6761;
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: rgba(82, 76, 70, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-up-button:hover, .scroll-down-button:hover {
    color: #aba19e !important;
}

.scroll-up-button {
    bottom: 73px; /* Position above dark mode button */
}

.scroll-down-button {
    bottom: 10px; /* Position below dark mode button */
}

.dark-mode .scroll-up-button, 
.dark-mode .scroll-down-button {
    background-color: #f5f5f5;
}

.dark-mode .scroll-up-button:hover, 
.dark-mode .scroll-down-button:hover {
    background-color: rgba(245, 245, 245, 1);
}


.character-card.search-highlight {
    background-color: rgba(0, 0, 0, 0.1);
    outline: 2px solid #94655D;
}

.character-description-below {
    margin: 0.5em 0;
    padding: 0.6em 1em;
    border-left: 4px solid #333330;
    font-size: 0.9em;
    line-height: 1.4;
    color: #6E6761;
  text-align:justify;
  font-family: 'Montserrat', sans-serif;
  font-size:11px;
}
.dark-mode .character-description-below {border-left: 4px solid #f1f1f1 !important;}

/* In styles.css, add this after the .race-filter styles */
.institution-filter {
    margin-bottom: 15px;
    background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.institution-filter select {
  font-size:10px;  
  width: 100%;
    padding: 5px !important;
    border: 1px solid #444;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.institution-filter select {
    background-color: #333;
    color: white;
}

.dark-mode .institution-filter select {
    background-color: #333;
    color: grey;
}

body.dark-mode .institution-filter select {
    background-color: white;
    border-color: #ddd;
    background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* In styles.css, add this after the .race-filter styles */
.institution-filter {
    margin-bottom: 15px;
    background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.institution-filter select {
    width: 100%;
    padding: 8px;
    border: 1px solid #444;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.institution-filter select {
    background-color: #333;
    color: white;
}

.dark-mode .institution-filter select {
    background-color: #333;
    color: grey;
}

body.dark-mode .institution-filter select {
    background-color: white;
    border-color: #ddd;
    background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* [Previous CSS remains the same until the institution-filter section] */

/* In styles.css, add this after the .institution-filter styles */
.friendship-filter {
    margin-bottom: 15px;
    background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.friendship-filter select {
    font-size:10px;
  width: 100%;
    padding: 5px;
    border: 1px solid #444;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.friendship-filter select {
    background-color: #333;
    color: white;
}

.dark-mode .friendship-filter select {
    background-color: #333;
    color: grey;
}

body.dark-mode .friendship-filter select {
    background-color: white;
    border-color: #ddd;
    background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.clear-filters-button {
  text-transform:uppercase;
    width: 100%;
  font-size:9px;
    padding: 5px;
    margin-top: -3px;
    border: 1px solid #444;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: #6E6761;
  font-weight:bold;
    cursor: pointer;
    transition: all 0.3s ease;
  margin-bottom:5px;
}

.clear-filters-button:hover {
    background-color: #444;
}

.dark-mode .clear-filters-button {
    background-color: white;
    color: #333;
    border-color: #ddd;
}

.dark-mode .clear-filters-button:hover {
    background-color: #f0f0f0;
}
